html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="Keywords" content="")
    meta(name="Description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Terminal (matrix)
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
  body
    .container
      .row
        .col-sm-1
        .col-sm-10
          h2 Agents
    .container
      .row
        .col-sm-1
        .col-sm-10
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#foop" aria-controls="foop" data-toggle="tab" role="tab") FOOP
            li(role="presentation")
              a(href="#profile" aria-controls="profile" data-toggle="tab" role="tab") Profile
            li(role="presentation")
              a(href="#messages" aria-controls="messages" data-toggle="tab" role="tab") Messages

          .tab-content
            .tab-pane.active#foop(role="tabpanel")

              .panel-group#accordion(role="tablist" aria-multiselectable="true")

                .panel.panel-default
                  .panel-heading#headingOne(role="tab")
                    h4.panel-title
                      a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") unknown-a820663d7d29
                  .panel-collapse.collapse.in#collapseOne(role="tabpanel" aria-labelledby="headingOne")
                    .panel-body
                      dl.dl-horizontal
                        dt version
                        dd 20150407a
                        dt runtime
                        dd v0.10.39
                      button.btn.btn-info.btn-xs
                        span.glyphicon.glyphicon-log-in(aria-hidden="true")
                        |   Console
                      span .
                      button.btn.btn-warning.btn-xs(disabled="disabled")
                        span.glyphicon.glyphicon-refresh(aria-hidden="true")
                        |   Reboot
                      span .
                      button.btn.btn-success.btn-xs(disabled="disabled")
                        span.glyphicon.glyphicon-upload(aria-hidden="true")
                        |   Upgrade

                .panel.panel-default
                  .panel-heading#headingTwo(role="tab")
                    h4.panel-title
                      a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Collapsible Group Item #2
                  .panel-collapse.collapse.in#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
                    .panel-body
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .tab-pane#profile(role="tabpanel") Have a good day
            .tab-pane#messages(role="tabpanel") Gogogo~~
          .col-sm-1

    script(src="/js/jquery-2.1.4.min.js" defer="defer")
    script(src="/js/bootstrap.min.js" defer="defer")
    script(src="/terminal.js" defer="defer")
